<div class="rating-container">
  <div class="header">
    <p>Rate Movie - Movie 1</p>
  </div>
  <div class="rating-bar">
    <div class="rating-bar-item" (click)="setRating(1)">🤡</div>
    <div class="rating-bar-item" (click)="setRating(2)">😔</div>
    <div class="rating-bar-item" (click)="setRating(3)">🙂</div>
    <div class="rating-bar-item" (click)="setRating(4)">😍</div>
    <div class="rating-bar-item" (click)="setRating(5)">🗿</div>
  </div>
  <div class="button-row">
    <button mat-flat-button class="button-cancel">Cancel</button>
    <button mat-flat-button class="button-submit">Submit</button>
  </div>
</div>
